---
layout: default
---

<div class="home">

  <div class="posts">
    {% for post in paginator.posts %}
      <div class="post">
        <div class="post-header">
          <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
            <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p>
            <h2 class="post-title">{{ post.title }}</h2>
          </a>
        </div>
        <article class="post-content">
          {{ post.content }}
        </article>
      </div>
    {% endfor %}
  </div>

  {% include pagination.html %}

  <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>-->
</div>
