.gists {
  margin-top: 2rem;
  padding: 0;
}

.gists .item {
  list-style: none;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.gists .item header .gist-id {
  max-width: 10rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gist header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gist header a {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
}

.gist header .gist-id {
  font-weight: bold;
}

.gist header .source {
  color: inherit;
}

.gist aside {
  margin-bottom: 0.5rem;
}

.gist .message {
  margin: 0.5rem 0;
}

.gist ul {
  margin: 0.5rem 0;
}

.gist ul li {
  list-style-type: disc;
}
