:root {
  color-scheme: light dark;

  --width: 34.5;
  --rounding: 4px;
  --color-accent: #268bd2;
  --color-background: light-dark(#ffffff, #0e0e0e);
  --color-background-off1: light-dark(#f9f9f9, #202020);
  --color-background-off2: light-dark(#e5e5e5, #333333);
  --color-background-off3: light-dark(#9a9a9a, #aaaaaa);
  --color-text-title: light-dark(#000000, #ffffff);
  --color-text-main: light-dark(#515151, #dddddd);
  --color-text-strong: light-dark(#313131, #eeeeee);
  --color-text-weak: light-dark(#7a7a7a, #aaaaaa);
  --color-text-code: #bf616a;
}

body.light {
  color-scheme: light;
}
body.dark {
  color-scheme: dark;
}

@media print {
  .noprint {
    display: none;
  }
}

/*
 * Body resets
 *
 * Update the foundational and global aspects of the page.
 */

* {
  box-sizing: border-box;
}

html {
  font-family:
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji;
  font-size: 1.3rem;
  font-weight: 300;
  font-size: clamp(18px, 100vw / var(--width), 20px);
  line-height: 1.5;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  color: var(--color-text-main);
  background-color: var(--color-background);
  height: 100%;
}

select {
  font-family: inherit;
}

/* No `:visited` state is required by default (browsers will use `a`) */
a {
  color: var(--color-accent);
  text-decoration: none;
}
a strong {
  color: inherit;
}
/* `:focus` is linked to `:hover` for basic accessibility */
a:hover,
a:focus {
  text-decoration: underline;
}
a.flat {
  color: inherit;
}

a[target="_blank"]::after {
  display: inline-block;
  content: "\21F1\00A0" / "opens in new tab/window";
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  font-weight: normal;
  line-height: 1.25;
  color: var(--color-text-strong);
  text-rendering: optimizeLegibility;
}
h1 {
  font-size: 2rem;
}
h2 {
  margin-top: 2rem;
  font-size: 1.5rem;
}
h3 {
  margin-top: 1.5rem;
  font-size: 1.25rem;
}
h4, h5, h6 {
  margin-top: 1rem;
  font-size: 1rem;
}

/* Body text */
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

strong {
  color: var(--color-text-strong);
}

/* Lists */
ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-inline-start: 2em;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-inline-start: 1em;
}
ul li, ol li {
  margin-bottom: 0.5rem;
}

dt {
  font-weight: bold;
}
dd {
  margin-bottom: 0.5rem;
}

/* Misc */
hr {
  position: relative;
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid var(--color-background-off2);
  border-bottom: 1px solid var(--color-background);
}

abbr {
  font-size: 85%;
  font-weight: bold;
  text-transform: uppercase;
}
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted var(--color-background-off2);
}

/* Code */
code,
pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
}
code {
  padding: 0.25em 0.5em;
  font-size: 85%;
  color: var(--color-text-code);
  background-color: var(--color-background-off1);
  border-radius: 4px;
}
pre {
  display: block;
  overflow: auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 1rem;
  font-size: 0.8rem;
  line-height: 1.4;
  background-color: var(--color-background-off1);
  border: 1px solid var(--color-background-off2);
  border-radius: 4px;
}
pre code {
  padding: 0;
  font-size: 100%;
  color: inherit;
  background-color: transparent;
}
pre:has(> code.hljs) {
  padding: 0;
  background-color: transparent;
}

/* Quotes */
blockquote {
  padding: 0.5rem 1rem;
  margin: 0.8rem 0;
  color: var(--color-text-weak);
  border-left: 0.25rem solid var(--color-background-off2);
}
blockquote p:last-child {
  margin-bottom: 0;
}
@media (min-width: 30em) {
  blockquote {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}

/* Tables */
table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid var(--color-background-off2);
  border-collapse: collapse;
}
td,
th {
  padding: 0.25rem 0.5rem;
  border: 1px solid;
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: var(--color-background-off1);
}

img {
  vertical-align: middle;
}

/*
 * Messages
 *
 * Show alert messages to users. You may add it to single elements like a `<p>`,
 * or to a parent if there are multiple elements to show.
 */

.message {
  margin-bottom: 1rem;
  padding: 1rem;
  color: var(--color-text-weak);
  background-color: var(--color-background-off1);
}

/*
 * Container
 *
 * Center the page content.
 */

.container {
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
}

/*
 * Posts and pages
 *
 * Each post is wrapped in `.post` and is used on default and post layouts. Each
 * page is wrapped in `.page` and is only used on the page layout.
 */

.page,
.post {
  margin-bottom: 4rem;
}

.posts > .post {
  margin-bottom: 4rem;
}

/* Blog post or page title */
.page-title,
.post-title,
.post-title a {
  color: var(--color-text-title);
}
.page-title,
.post-title {
  margin-top: 0;
}

h2.post-title {
  margin-bottom: 0.5rem;
}

.page > .page-title {
  margin-bottom: 2rem;
}

/* Meta data line below post title */
.post-date {
  display: block;
  margin-bottom: 1rem;
  color: var(--color-text-weak);
}
body > footer {
  text-align: center;
  color: var(--color-text-weak);
}

/*
 * Sidebar
 */

.sidebar {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* About section */
.sidebar-about h1 {
  margin-top: 0;
  font-size: 3.25rem;
}
.sidebar-about h1 a:hover {
  text-decoration: none;
}

/* Sidebar nav */
.sidebar-nav {
  display: flex;
  flex-wrap: wrap;
}
.sidebar-nav-item {
  flex-grow: 1;
  display: block;
  padding: 0.5rem;
  line-height: 1.75;
  white-space: nowrap;
}
a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
  text-decoration: none;
  color: var(--color-text-code);
}
.sidebar-nav-item.active {
  color: var(--color-text-strong);
}

/* Container
 */

.content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0 1.5rem;
}

/* Blog Post
 */

.blogpost {
  padding: 0 1.5rem;
}
.container.blogpost {
  max-width: 48rem;
}
.blogpost .navigation {
  margin-bottom: 2rem;
}
.blogpost .navigation a.github-source {
  float: right;
  color: var(--color-text-weak);
}
.blogpost .post-date {
  margin-bottom: 2rem;
}
