:root {
  color-scheme: light dark;

  --width: 34.5;
  --rounding: 4px;
  --color-accent: #268bd2;
  --color-background: light-dark(#ffffff, #0e0e0e);
  --color-background-off1: light-dark(#f9f9f9, #202020);
  --color-background-off2: light-dark(#e5e5e5, #333333);
  --color-background-off3: light-dark(#9a9a9a, #aaaaaa);
  --color-background-notice: light-dark(#fffbb4, #2e2e01);
  --color-text-title: light-dark(#000000, #ffffff);
  --color-text-main: light-dark(#111111, #eeeeee);
  --color-text-strong: light-dark(#000000, #ffffff);
  --color-text-weak: light-dark(#555555, #aaaaaa);
  --color-text-code: #bf616a;
}

body.light {
  color-scheme: light;
}
body.dark {
  color-scheme: dark;
}

@media print {
  .noprint {
    display: none;
  }
}

/*
 * Body resets
 *
 * Update the foundational and global aspects of the page.
 */

* {
  box-sizing: border-box;
}

html {
  font-family:
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji;
  font-size: 1.3rem;
  font-weight: 350;
  font-size: clamp(18px, 100vw / var(--width), 20px);
  line-height: 1.5;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  color: var(--color-text-main);
  background-color: var(--color-background);
  height: 100%;
}

select {
  font-family: inherit;
}

.weak {
  color: var(--color-text-weak);
}
.small {
  font-size: 80%;
}

a {
  color: var(--color-accent);
  text-decoration: none;
}
a strong {
  color: inherit;
}
a:hover,
a:focus {
  text-decoration: underline;
}
a.flat {
  color: inherit;
}

a[target="_blank"]::after {
  display: inline-block;
  content: "\21F1\00A0" / "opens in new tab/window";
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  font-weight: normal;
  line-height: 1.25;
  color: var(--color-text-strong);
  text-rendering: optimizeLegibility;
}
h1 {
  font-size: 2rem;
}
h2 {
  margin-top: 2rem;
  font-size: 1.5rem;
}
h3 {
  margin-top: 1.5rem;
  font-size: 1.25rem;
}
h4, h5, h6 {
  margin-top: 1rem;
  font-size: 1rem;
}

/* Body text */
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

strong {
  color: var(--color-text-strong);
}

/* Lists */
ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-inline-start: 2em;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-inline-start: 1em;
}
ul li, ol li {
  margin-bottom: 0.5rem;
}
ul.no-list-style, ol.no-list-style {
  list-style: none;
}

dt {
  font-weight: bold;
}
dd {
  margin-bottom: 0.5rem;
}

/* Misc */
hr {
  position: relative;
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid var(--color-background-off2);
  border-bottom: 1px solid var(--color-background);
}

abbr {
  font-size: 85%;
  font-weight: bold;
  text-transform: uppercase;
}
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted var(--color-background-off2);
}

/* Code */
code,
pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
}
code {
  white-space: nowrap;
  padding: 0.25em 0.5em;
  font-size: 85%;
  color: var(--color-text-code);
  background-color: var(--color-background-off1);
  border: 1px solid var(--color-background-off2);
  border-radius: var(--rounding);
}
pre {
  display: block;
  overflow: auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 1rem;
  font-size: 0.8rem;
  line-height: 1.4;
  background-color: var(--color-background-off1);
  border: 1px solid var(--color-background-off2);
  border-radius: var(--rounding);
}
pre code {
  white-space: pre;
  padding: 0;
  font-size: 100%;
  color: inherit;
  background-color: transparent;
  border: 0;
}
pre:has(> code.hljs) {
  padding: 0;
  background-color: transparent;
}

/* Quotes */
blockquote {
  padding: 0.5rem 1rem;
  margin: 0.8rem 0;
  color: var(--color-text-weak);
  border-left: 0.25rem solid var(--color-background-off2);
}
blockquote p:last-child {
  margin-bottom: 0;
}
@media (min-width: 30em) {
  blockquote {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}

/* Tables */
table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid var(--color-background-off2);
  border-collapse: collapse;
}
td,
th {
  padding: 0.25rem 0.5rem;
  border: 1px solid;
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: var(--color-background-off1);
}

img {
  vertical-align: middle;
}

/**
 * Messages
 */

.message {
  margin-bottom: 1rem;
  padding: 1rem;
  color: var(--color-text-weak);
  background-color: var(--color-background-off1);
}

/*
 * Container
 *
 * Center the page content.
 */

.container {
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
}

.content {
  padding: 0 1.5rem;
}

/* Meta data line below post title */
.post-meta {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  column-gap: 1.5rem;
  row-gap: 0.5rem;
  margin-bottom: 2rem;
}
.post-date {
  color: var(--color-text-weak);
}

/*
 * Sidebar
 */

.sidebar {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

/* About section */
.sidebar-about {
  margin-top: 0;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar-about h1 {
  margin: 0;
  font-size: 2rem;
}
.sidebar-about img {
  display: block;
  margin-right: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

/* Sidebar nav */
.sidebar-nav {
  display: flex;
  flex-wrap: wrap;

  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar-nav-item {
  flex-grow: 1;
  display: block;
  margin-bottom: 0;
  white-space: nowrap;
}
.sidebar-nav-item a:hover,
.sidebar-nav-item a:focus {
  text-decoration: none;
  color: var(--color-text-code);
}
.sidebar-nav-item.active a {
  color: var(--color-text-strong);
}

/**
 * Footer
 */

.site-footer {
  margin-top: 4rem;
  margin-bottom: 2rem;
  text-align: center;
  color: var(--color-text-weak);
}

/**
 * Post
 */
.post-title {
  margin-top: 0;
}
.page-title:has(+ .post-meta) {
  margin-bottom: 0;
}
.post-navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.post-navigation a.github-source {
  color: var(--color-text-weak);
}
.blogpost .post-meta {
  margin-bottom: 2rem;
}

/**
 * Footnotes
 */
.footnotes {
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid var(--color-background-off2);
  color: var(--color-text-weak);
  font-size: 0.8rem;
}
.footnote {
  width: fit-content;
  padding: 0 0.25rem;
  border-radius: var(--rounding);
  border: 1px solid transparent;
}
.footnote::marker {
  content: attr(title) ".";
}
.footnote:has(a:target) {
  background-color: var(--color-background-notice);
  border: 1px solid var(--color-background-off3);
}
.footnote-ref {
  padding: 0.1rem;
  border-radius: var(--rounding);
  border: 1px solid transparent;
}
.footnote-ref:target {
  background-color: var(--color-background-notice);
  border: 1px solid var(--color-background-off3);
}
.footnote-ref::before {
  content: "[";
}
.footnote-ref::after {
  content: "]";
}
.backref {
  margin-left: 0.5rem;
}

/**
 * Home
 */
.bio .avatar {
  float: right;
  margin-top: -0.5rem;
  margin-left: 1rem;
  border: 1px solid var(--color-background-off3);
  border-radius: 50%;
}

/**
 * Post Index
 */
.post-index {
  list-style: none;
  padding-left: 0;
}
.post-index-item {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.post-index-item time {
  display: inline-block;
  min-width: 10ch;
  font-size: 80%;
  text-align: right;
}
.post-index-item .separator {
  display: none;
}

/**
 * Gists
 */
.gist > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.gist > header h3 {
  display: inline;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: bold;
}

.gist > header time::before {
  content: " \2014 ";
}

/**
 * Generic: Pills
 */
.pills {
  list-style: none;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  margin-bottom: 0;
  padding: 0;
}
.pills > li {
  display: inline-block;
  margin-bottom: 0;
}
.pills > li > a {
  display: inline-block;
  margin-top: -1px; /* offset border width */
  padding: 0 0.5rem;
  border-radius: var(--rounding);
  border: 1px solid var(--color-background-off2);
}
.pills > li > a:hover {
  text-decoration: none;
  border-color: var(--color-background-off3);
}
